[submodule "boost"]
	path = boost
	url = https://github.com/chrisvana/boost_copy.git
[submodule "cpp-netlib"]
	path = cpp-netlib
	url = https://github.com/chrisvana/cpp-netlib_copy.git
[submodule "curlpp"]
	path = curlpp
	url = https://github.com/chrisvana/curlpp_copy.git
[submodule "dlib"]
	path = dlib
	url = https://github.com/chrisvana/dlib_copy.git
[submodule "json"]
	path = json
	url = https://github.com/chrisvana/json_copy.git
[submodule "jsonrpc-cpp"]
	path = jsonrpc-cpp
	url = https://github.com/chrisvana/jsonrpc-cpp_copy.git
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/chrisvana/protobuf_copy.git
[submodule "rdkit"]
	path = rdkit
	url = https://github.com/chrisvana/rdkit_copy.git
[submodule "re2"]
	path = re2
	url = https://github.com/chrisvana/re2_copy.git
[submodule "rpcz"]
	path = rpcz
	url = https://github.com/chrisvana/rpcz_copy.git
[submodule "shark"]
	path = shark
	url = https://github.com/chrisvana/shark_copy.git
[submodule "smhasher"]
	path = smhasher
	url = https://github.com/chrisvana/smhasher_copy.git
[submodule "zeromq"]
	path = zeromq
	url = https://github.com/chrisvana/zeromq_copy.git
[submodule "network"]
	path = network
	url = https://github.com/chrisvana/network.git
[submodule "cppunit"]
	path = cppunit
	url = https://github.com/chrisvana/cppunit_copy.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/chrisvana/repo_plugins.git
[submodule "obabel"]
	path = obabel
	url = https://github.com/chrisvana/obabel_copy.git
[submodule "vina"]
	path = vina
	url = https://github.com/chrisvana/vina_copy.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/chrisvana/eigen_copy.git
[submodule "poly2tri"]
	path = poly2tri
	url = https://github.com/chrisvana/poly2tri_copy.git
[submodule "gmp"]
	path = gmp
	url = https://github.com/chrisvana/gmp_copy.git
[submodule "mpfr"]
	path = mpfr
	url = https://github.com/chrisvana/mpfr_copy.git
[submodule "cgal"]
	path = cgal
	url = https://github.com/chrisvana/cgal_copy.git
[submodule "file"]
	path = file
	url = https://github.com/chrisvana/file
[submodule "util"]
	path = util
	url = https://github.com/chrisvana/util
[submodule "rcpp"]
	path = rcpp
	url = https://github.com/chrisvana/Rcpp_copy
[submodule "dcmtk"]
	path = dcmtk
	url = https://github.com/chrisvana/dcmtk_copy.git
[submodule "pngpp"]
	path = pngpp
	url = https://github.com/chrisvana/png_pp_copy.git
